{% load static %}
    <nav class="navbar navbar-expand-md bg-light">
        <div class="container-fluid">
            <a class="navbar-brand" href="/"><img class=""src="{% static 'img/logo1.png' %}" style="max-height: 60px;"></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#links">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="links">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="#">Ana Sayfa</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">Hizmetlerimiz</a>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" href="/hizmetler/satis">2. El Satış</a>
                            <a class="dropdown-item" href="/hizmetler/laptop-tamiri">Laptop Tamiri</a>
                            <a class="dropdown-item" href="/hizmetler/kasa-pc-tamiri">Kasa-PC Tamiri</a>
                            <a class="dropdown-item" href="/hizmetler/monitor-tamiri">Monitör Tamiri</a>
                            <a class="dropdown-item" href="/hizmetler/yazici-tamiri">Yazıcı Tamiri</a>
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">Kurumsal</a>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" href="">Vizyon</a>
                            <a class="dropdown-item" href="">Misyon</a>
                            <a class="dropdown-item" href="">Basında Biz</a>
                        </div>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Çalışma Sistemimiz</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="www.servisbiziz.com">2. El Ürünler</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">İletişim</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>