{% extends 'base.html' %}
{% load static %}


{% block content %}

    <br><br><br><br><br>

    <div class="container">
        <img src="{% static 'img/logo1.png' %}" class="w-100">
        <br><br>
        <h1 class="font-weight-normal display-4 text-center m-3">ÇALIŞMA SİSTEMİMİZ</h1>
        <br>
        <hr>
        <br>
    </div>

    {% for calisma in calismas %}
        {% include 'pieces/post2.html' with post=calisma%}
    {% endfor %}


{% endblock %}

    <br>
    <h1 class="ml-2 display-3"><b>Çalışma Sistemimiz</b></h1>
    <hr><br>

    {% for calisma in calismas %}
        <div class="row">
            {% include 'pieces/post2.html' with post=calisma%}
        </div>
        <hr>
    {% endfor %}