{% extends 'base.html' %}
{% load static %}


{% block content %}
    <br>
    <h1 class="ml-2 display-3"><b>Kurumsal</b></h1>
    <hr><br>

    {% for kurumsal in kurumsals %}
        <div class="row">
            {% include 'pieces/post.html' with post=kurumsal%}
        </div>
        <hr>
    {% endfor %}

    <!-- Kurumsal'ın alt menülerinin sayfaları. -->
    {% for key, value in urls.items %}
        <div id="{{ key }}">
            {% if key in request.path %}
                {% include value %}
            {% endif %}
        </div>
    {% endfor %}

{% endblock %}