{% extends 'base.html' %}
{% load static %}


{% block content %}

    <br><br><br><br><br>

    <div class="container">
        <img src="{% static 'img/logo1.png' %}" class="w-100">
        <br><br><br>
        <h1 class="font-weight-normal display-4 text-center m-3">KURUMSAL</h1>
        <br>
        <hr>
        <br>
    </div>

    {% for kurumsal in kurumsals %}
        {% include 'pieces/post2.html' with post=kurumsal%}
    {% endfor %}

    <br>

<!-- Kurumsal'ın alt menülerinin sayfaları. -->
    {% for key, value in urls.items %}
        <div id="{{ key }}">
            {% if key in request.path %}
                {% include value %}
            {% endif %}
        </div>
    {% endfor %}

{% endblock %}