{% extends 'base.html' %}
{% load static %}

{% block css %}{% endblock %}

{% block content-main-page %}

    {% include 'pieces/slider.html' %}

    <br>

    <div class="container">
        {% for post in posts %}
            {% include 'pieces/post.html' with post=post %}
            <hr>
        {% endfor %}
    </div>

    <br>

    <div class="jumbotron bg-gray col-12">
        <div class="container col-xl-8 col-md-12 col-sm-10 col-xs-12">
            <div class="row">
                <div class="col-lg-3 col-md-6 col-xs-12 text-center">
                    <h3 class="pb-2">HİZMETLERİMİZ</h3>
                    <a href="#"><h5>2. El Satış</h5></a>
                    <a href="#"><h5>Monitör Tamiri</h5></a>
                    <a href="#"><h5>Yazıcı Tamiri</h5></a>
                    <a href="#"><h5>Notebook Tamiri</h5></a>
                    <a href="#"><h5>Notebook Tamiri</h5></a>
                </div>
                <div class="col-lg-3 col-md-6 col-xs-12 text-center">
                    <h3 class="pb-2">KURUMSAL</h3>
                    <a href="#"><h5>Misyon</h5></a>
                    <a href="#"><h5>Vizyon</h5></a>
                    <a href="#"><h5>Basında Biz</h5></a>
                </div>
                <div class="col-lg-3 col-md-6 col-xs-12 text-center">
                    <h3 class="pb-2">ÇALIŞMA SİSTEMİMİZ</h3>
                </div>
                <div class="col-lg-3 col-md-6 col-xs-12 text-center">
                    <a href="#"><h3 class="pb-2">İLETİŞİM</h3></a>
                </div>
            </div>
        </div>
    </div>


{% endblock %}